img{
    float: left;
    margin-right: 1em;
}
h1{
    color: blue;
    text-align: left;
    text-shadow: 1px 1px 3px black;
    font-size: 300%;
    font-family: 'Corinthia', cursive;
font-family: 'Meow Script', cursive;
}

a:hover{
    color: green;
}
a:focus{
    color: green;
}
h2::first-letter{
 font-size: 200%;}


h4{
    
    font-size: 20px;
    text-indent: 110px ;
    font-style: italic;
}

a{
     color: rgb(226, 134, 14); 
    }

.copy{
    text-align: center;
}

.style{
    font-size:100%;
}
#listorder{
    font-size:80%;
    columns: yellow;
}
img{
float: left;
margin-right: 1em;
margin-top: 1em;
}
h1{
    margin-top: .1em;
    margin-bottom: 0%;
    text-align: left;
    text-shadow: 1px 1px 3px black;
    font-size: 300%;
}
h4{
    margin-top: .1em;
    text-indent: 10px;
    font-size: 20px;
    height: 50px;
}
a{
    color: orange;
}
h3{
    font-size: x-large;
}
.copyright{
    text-align: center;
}
h2::first-letter{
    font-size: 200%; 
}

a:hover:focus{
    color: green;
}
#box{
    border: 5px solid ;
    height: 110px;
    margin-bottom: 0px;
    background-color:orange;
    background-image: linear-gradient(45deg,white, orange, black);
}
#secondbox{
   
    padding:15px;
    border: 5px solid;
    border-bottom: none;
    background-color: white;
    padding-left: 170px;
}
#list{
    position: relative;
    right: 270px;
    bottom: 200px;
}
#last{
    
    border: 5px solid ;
    height: 40px;
    background-image: linear-gradient(45deg,black, orange, white);
}
#shadow{
    box-shadow:5px 10px 15px 10px black ;
}
#cat{
    position: relative;
    top: 120px;
    right:150px;
}
* {
	margin: 0;
    padding: 0;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 87.5%;
	width: 1000px;
	background-color: white;
	margin: 15px auto;
	padding: 20px;
}

h2 { 
	font-size: 125%;
	margin-bottom: .5em;
	clear: both;
}

nav {
	margin-bottom: 0em;
}
/* The styles for the operation of the 2-tier navigation menu */
#nav ul {
	list-style: none;
	position: relative;    /* So the first submenu can be positioned within the main menu */
}
#nav ul li {
	float: left;
}
#nav ul ul {
	display: none;         /* Don't display submenu until hover of the li element */
	position: absolute;
	top: 100%;             /* Position the submenu at the bottom of the main menu */
}
#nav ul ul li {
	float: none;           /* Display the submenus vertically */
}
#nav ul li:hover > ul {
	display: block;        /* Display the submenu on hover of the li element */
}
#nav > ul::after {
	content: "";
	display: block;
	clear: both;
}

/* The styles for the formatting of the 2-tier navigation menu */
#nav ul {
	margin: 0;
	padding: 0;
}
#nav ul li a {
	text-align: center;
	display: inline-block;
	width: 141px;
	padding: 1em 0;
	text-decoration: none;
	background-color: rgb(0, 0, 7);
	color: white;
	font-weight: bold;
}
#nav ul li a.current {
	color: orange;
}
#nav ul li a:hover, #nav ul li a:focus {
	background-color: gray;
}
#nav_menu_1 ul { 
	list-style: none;
    margin-top: -250px;
	margin-left: -150px;
	margin-bottom: 150px;
    margin-right: 150px; }
#nav_menu_1 ul li { 
	width: 100px;
	margin-bottom: .5em;
	border: 2px solid black; }
#nav_menu_1 ul li a {
	display:block;
	font-weight: bold;
	color: black;
    background-color: orange;
	text-decoration: none;
	padding: .5em 0 .5em 1.5em; }
#nav_menu_1 ul li a.current { background-color: silver; }

ul.list{
    padding: 40px;
    list-style-image: url("img/star.png");
    font-family: 'Baloo Tamma 2', cursive;
    font-family: 'Corinthia', cursive;
    font-family: 'Meow Script', cursive;
    font-family: 'Ruda', sans-serif;
}
    